//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55
//Created Time: Thu 11 11 17:35:41 2021

IO_LOC "UART0TXD_o" K20;
IO_PORT "UART0TXD_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SWCLK" AB2;
IO_PORT "SWCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sys_rst_n" AB3;
IO_PORT "sys_rst_n" PULL_MODE=UP;
IO_LOC "sys_clk" M19;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "UART0RXD_i" L20;
IO_PORT "UART0RXD_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SWDIO" AB1;
IO_PORT "SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "O_ddr_dqm[1]" K4;
IO_PORT "O_ddr_dqm[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_dqm[0]" P3;
IO_PORT "O_ddr_dqm[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_reset_n" V4;
IO_PORT "O_ddr_reset_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_odt" B3;
IO_PORT "O_ddr_odt" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_cke" E4;
IO_PORT "O_ddr_cke" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_clk" P22,R22;
IO_PORT "O_ddr_clk" IO_TYPE=SSTL15D PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_we_n" C2;
IO_PORT "O_ddr_we_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_cas_n" D3;
IO_PORT "O_ddr_cas_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_ras_n" D1;
IO_PORT "O_ddr_ras_n" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_PORT "O_ddr_cs_n" IO_TYPE=SSTL15;
IO_LOC "O_ddr_ba[2]" F3;
IO_PORT "O_ddr_ba[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_ba[1]" T4;
IO_PORT "O_ddr_ba[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_ba[0]" F4;
IO_PORT "O_ddr_ba[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[13]" AA1;
IO_PORT "O_ddr_addr[13]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[12]" T5;
IO_PORT "O_ddr_addr[12]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[11]" Y21;
IO_PORT "O_ddr_addr[11]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[10]" P5;
IO_PORT "O_ddr_addr[10]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[9]" H4;
IO_PORT "O_ddr_addr[9]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[8]" AB22;
IO_PORT "O_ddr_addr[8]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[7]" H5;
IO_PORT "O_ddr_addr[7]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[6]" Y22;
IO_PORT "O_ddr_addr[6]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[5]" F2;
IO_PORT "O_ddr_addr[5]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[4]" V3;
IO_PORT "O_ddr_addr[4]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[3]" E5;
IO_PORT "O_ddr_addr[3]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[2]" G6;
IO_PORT "O_ddr_addr[2]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[1]" V5;
IO_PORT "O_ddr_addr[1]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_ddr_addr[0]" F1;
IO_PORT "O_ddr_addr[0]" IO_TYPE=SSTL15 PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[2]" A11,A12;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[1]" A9,A10;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_data_p[0]" B6,A6;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8;
IO_LOC "O_tmds_clk_p" A2,A3;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8;
IO_LOC "cam1_scl" F22;
IO_PORT "cam1_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cam1_rst_n" V14;
IO_PORT "cam1_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cam0_scl" Y18;
IO_PORT "cam0_scl" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cam0_rst_n" L19;
IO_PORT "cam0_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[5]" U1;
IO_PORT "IO_ddr_dq[5]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dqs[1]" L2;
IO_PORT "IO_ddr_dqs[1]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[14]" M2;
IO_PORT "IO_ddr_dq[14]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[9]" K3;
IO_PORT "IO_ddr_dq[9]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[12]" K5;
IO_PORT "IO_ddr_dq[12]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[10]" P1;
IO_PORT "IO_ddr_dq[10]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dqs[0]" P4;
IO_PORT "IO_ddr_dqs[0]" IO_TYPE=SSTL15D PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[13]" H3;
IO_PORT "IO_ddr_dq[13]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[8]" R1;
IO_PORT "IO_ddr_dq[8]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[6]" N4;
IO_PORT "IO_ddr_dq[6]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[15]" H2;
IO_PORT "IO_ddr_dq[15]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[3]" T2;
IO_PORT "IO_ddr_dq[3]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[4]" Y1;
IO_PORT "IO_ddr_dq[4]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[7]" V1;
IO_PORT "IO_ddr_dq[7]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[11]" J1;
IO_PORT "IO_ddr_dq[11]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "cam0_data[4]" W16;
IO_PORT "cam0_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[7]" Y20;
IO_PORT "cam0_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "IO_ddr_dq[0]" M5;
IO_PORT "IO_ddr_dq[0]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "cam0_sda" W17;
IO_PORT "cam0_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cam1_data[7]" D22;
IO_PORT "cam1_data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_data[2]" U16;
IO_PORT "cam1_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_data[6]" J22;
IO_PORT "cam1_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_href" H22;
IO_PORT "cam1_href" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_data[0]" G22;
IO_PORT "cam1_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_vsync" V19;
IO_PORT "cam1_vsync" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[6]" AA20;
IO_PORT "cam0_data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[2]" AA17;
IO_PORT "cam0_data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_data[4]" E22;
IO_PORT "cam1_data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_pclk" W19;
IO_PORT "cam1_pclk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_data[5]" G21;
IO_PORT "cam1_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "IO_ddr_dq[2]" M4;
IO_PORT "IO_ddr_dq[2]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "IO_ddr_dq[1]" T3;
IO_PORT "IO_ddr_dq[1]" IO_TYPE=SSTL15 PULL_MODE=UP DRIVE=8;
IO_LOC "cam1_data[1]" V15;
IO_PORT "cam1_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam1_sda" C22;
IO_PORT "cam1_sda" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "cam1_data[3]" V16;
IO_PORT "cam1_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[3]" Y19;
IO_PORT "cam0_data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[5]" Y15;
IO_PORT "cam0_data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_href" W13;
IO_PORT "cam0_href" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_vsync" W12;
IO_PORT "cam0_vsync" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[1]" Y17;
IO_PORT "cam0_data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_data[0]" W15;
IO_PORT "cam0_data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "cam0_pclk" W14;
IO_PORT "cam0_pclk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
