//Copyright (C)2014-2021 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8
//Part Number: GW2A-LV55PG484C8/I7
//Device: GW2A-55C
//Created Time: Thu 11 11 19:55:42 2021

IO_LOC "SDA" Y4;
IO_PORT "SDA" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SCL" AB4;
IO_PORT "SCL" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[6]" U18;
IO_PORT "GPIO[6]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[5]" T18;
IO_PORT "GPIO[5]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[4]" V20;
IO_PORT "GPIO[4]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[3]" U20;
IO_PORT "GPIO[3]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[2]" V22;
IO_PORT "GPIO[2]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[1]" W22;
IO_PORT "GPIO[1]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "GPIO[0]" W20;
IO_PORT "GPIO[0]" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "NSS" AB5;
IO_PORT "NSS" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "SCLK" Y5;
IO_PORT "SCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "MOSI" AB6;
IO_PORT "MOSI" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART1TXD" D22;
IO_PORT "UART1TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "UART0TXD" K20;
IO_PORT "UART0TXD" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_SPI_CLK" P18;
IO_PORT "FLASH_SPI_CLK" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_SPI_MOSI" P20;
IO_PORT "FLASH_SPI_MOSI" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_SPI_MISO" P19;
IO_PORT "FLASH_SPI_MISO" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "FLASH_SPI_CSN" N18;
IO_PORT "FLASH_SPI_CSN" IO_TYPE=LVCMOS15 PULL_MODE=UP DRIVE=8;
IO_LOC "SWCLK" AB2;
IO_PORT "SWCLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "hwRstn" AB3;
IO_PORT "hwRstn" IO_TYPE=LVCMOS15 PULL_MODE=UP;
IO_LOC "MISO" AA6;
IO_PORT "MISO" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "UART1RXD" J22;
IO_PORT "UART1RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "UART0RXD" L20;
IO_PORT "UART0RXD" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "SWDIO" AB1;
IO_PORT "SWDIO" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "HCLK" M19;
IO_PORT "HCLK" IO_TYPE=LVCMOS15 PULL_MODE=UP;
